/* Base body styles */
body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}



/* Video container styles */
#videoContainer {
    position: relative;
    width: 56.25vw; /* Adjust the width to match or complement the slideshow */
    max-width: 1000px;
    height: 0;
    padding-bottom: 56.25%; /* Maintains the 16:9 aspect ratio */
    margin-top: 20px; /* Adds some space between slideshow and video */
    z-index: 0;
}

#videoContainer iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

